<!DOCTYPE html>
<html>
  <head>
    <title>TastListApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Task List App</h1>
    </header>
    <div id="sidebar">
      <%= render 'layouts/sidebar' %>
    </div>
    <div id="primary">
      <% if flash[:message] %>
        <p class="flash-message"><%= flash[:message] %></p>
      <% end %>
      <%= yield %>
    </div>
  <footer>
    <% if session[:user_id] %>
      <%= link_to 'Logout', logout_path %>
    <% else %>
      <%= link_to 'Login', login_path %>
    <% end %>
  </footer>
  </body>
</html>
